$light-gray: #f5f5f5;
$light-gray-hover: #dedede;
$dark-gray-hover: #d2d2d2;
$medium-gray-icons: #bdbdbd;
$light-gray-text: #727272;
$orange-primary: #f66126;
$orange-primary-hover: #da5524;
$orange-secondary: #ffe6e1;
$blue-primary: #5588e7;
$pink-primary: #ff8a9a;
$violet-primary: #9a4a9a;
$yellow-primary: #ffbd22;