@import '../variables';

.base_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  z-index: 101;

  span {
    font-size: 12px;
    font-weight: 700;
  }

  &.secondary {
    background-color: $light-gray;
    padding: 10px;
    transition: background-color 100ms ease-in;

    &:hover {
      background-color: $light-gray-hover;
    }
  }

  &.secondary_darker {
    background-color: $light-gray-hover;
    padding: 10px;
    transition: background-color 100ms ease-in;

    &:hover {
      background-color: $dark-gray-hover;
    }
  }

  &.secondary_round_white {
    border-radius: 24px;
    background-color: white;
    padding: 5px 10px;

    span {
      font-weight: 700;
    }
  }

  &.primary_round {
    padding: 12px 20px;
    transition: background-color 100ms ease-in;
    border-radius: 24px;
  }

  &.primary_round_white {
    background-color: white;
    padding: 12px 20px;
    border-radius: 24px;
  }

  &.primary_round_alternate {
    background-color: $violet-primary;
    padding: 12px 20px;
    border-radius: 24px;

    span {
      color: white;
    }
  }

  &.primary_orange {
    background-color: $orange-primary;
    padding: 14px;
    width: 100%;
    transition: all 100ms ease-in;

    span {
      color: white;
      font-size: 14px;
      font-weight: 700;
    }

    &:hover {
      background-color: $orange-primary-hover;
    }
  }

  &.bigger {
    font-size: 28px;
  }
}