@import '../variables';

.deal_card_base {
  background-color: #cecece;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 25px 20px;
  gap: 24px;
  border-radius: 12px;
  min-height: 160px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 13px 0px;

  h2 {
    max-width: 223px;
    z-index: 101;
  }

  .image {
    height: 300%;
    position: absolute;
    bottom: -150px;
    display: none;

    @media screen and (min-width: 370px) {
      display: block;
    }

    @media screen and (min-width: 520px) {
      height: 400%;
      bottom: -200px;
    }

    &.image1 {
      right: -300px;
    }

    &.image2 {
      right: -200px;
    }

    &.image3 {
      right: -200px;
    }
  }

  &.orange {
    background-color: $orange-primary;
  }

  &.blue {
    background-color: $blue-primary;
  }

  &.pink {
    background-color: $pink-primary;
  }
}