.home_view {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .home_view_top {
    padding: 0 20px;
    height: 100%;

    .text_paragraph {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 30px;
    }
  }

  .home_view_bottom {
    min-height: 100%;
    padding: 0 20px;
    height: 100%;
  }

  .footer {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 101;
  }
}