@import '../variables';

.product {
  flex-basis: 48%;
  background-color: $light-gray;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heart {
      cursor: pointer;
    }
  }

  .image_container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    img {
      height: 100%;
      position: absolute;
      transform: scale(0.6);
      bottom: 10px;
    }
  }

  .bottom {
    display: flex;
    gap: 8px;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 10px;

    .prices {
      display: flex;
      gap: 4px;
      justify-content: start;
      align-items: center;
    }
  }
}